/* PC */
@media (min-width: 1024px) {
    
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
     
    
    
    
    /* Lĩnh vực hoạt động */
     .field .field-info{
        display: flex;
        flex-wrap: wrap;
    }
    .field-info .field-info_item {
        width: 50%;   
        height: 100vh;
    }



    
}

/* Mobile */
@media (max-width: 740px) {
    /* menu */
    .logo{
        position: relative;
        top: 0;
        right: 0;
    }
    header{
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .menu .menu-list{
        display: flex;
        transform: translateY(50%);
        /* width: 10rem; */
        flex-direction: column;
        position: relative;
        z-index: 6;
        opacity: 0;
        visibility: hidden;
    }
    .menu .menu-list li{
        display: block;
        width: 100%;
        /* background-color: rgba(255, 255, 255, 0.8); */
        background-color: white;
        text-align: left;
        padding-left: 3rem;
    }
    .menu .menu-list li:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    /* dropdowlist */
    .dropdown-list{
        left: 0;
        transform: translateX(-125%);
        transition: 0.2s linear;
    }
    .dropdown .dropdown-list{
        display: block;
        width: 20rem;
    }
    .dropdown .dropdown-list .dropdown-item{
        text-align: start;
        cursor: pointer;
        transition: 0.2s linear;    
        padding: 2rem 2rem;
        display: block;
        width: 25rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-left: 0.5rem solid transparent;
    }

    .menu .menulist .icon-home{
        display: none;
        opacity: 0 !important;
    }
    .menu .menu-list .flag-default{
        display: none;
    }
    .icon-home i{
        display: none;
        /* background-color: transparent; */
    }
    .icon-home::after{
        display: none;
     
    }


    .toggle-btn{
        display: inline-block;
        cursor: pointer;
    }
    /* Lĩnh vực hoạt động */
    .field .field-info{
        display: block;
    }
    .field-info .field-info_item {
        width: 100%;   
        height: 100vh;
    }
    /* tin tức */
    #news-head_rightRespondsive{
        display: block;
    }
    .news .news-head_right{
        display: none;
    }


    /* footer */
   .footer-right .footer-detail{
        width: 50%;
    }
    .container .footer-top{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .container .footer-left{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
}
